<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ site.url }}/CSS/standard.css">
		<link rel="icon" href="{{ site.url }}/Images/favicon.png">
		<title>{{ page.title }}</title>
        <script src="{{ site.url }}/JS/script.js"></script>
    </head>
    <body>
        <div class="menu">
            <button class="menuIcon" onclick="">☰</button>
        </div>
        <div class="header">
            <img class="logo" src="{{ site.url }}/Images/logo.png">
            <button class="sponsorButton" onclick="SponsorButton()">Sponsor Us</button>
            <div class="redOverlay"></div>
            <div class="background"></div>
        </div>
    </body>
</html>